NODE_ENV=development
PORT=3000
API_KEY=dc21a4066151bdcf7e7c8e99895e497a4e4dbf30677541b2c497c11ab7fd42a3
DATABASE_URL=postgresql://darient:darient@localhost:5432/darient?schema=core
MQTT_URL=mqtt://localhost:1883
LOG_LEVEL=info
CORS_ORIGIN=http://localhost:5173
